* {
  font-family: "NanumBarunpen";
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: 300px;
}

@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.nav__list {
  height: 100%;
  width: 70px;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  list-style-type: none;
  z-index: 20;
}
.nav__list .nav__btn {
  padding: 16px 0;
  color: #aeaeae;
  text-align: center;
  text-decoration: none;
}
.nav__list .nav__btn.active {
  color: #000;
}
.nav__list .nav__btn:first-child {
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 12px;
  background-color: #fff;
  line-height: 36px;
  z-index: 10;
}
.header .heaer__title {
  margin: 0;
  font: 1em;
}

.header__menu span {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
}
.header__menu span:hover {
  background-color: #eaeaea;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 16px;
  background-color: #fff;
}
.preview .preview__pic {
  height: 50px;
  width: 50px;
  border-radius: 18px;
  background: #fb4239;
  margin-right: 10px;
}
.preview .preview__nick {
  margin: 5px;
  font-size: 0.9em;
}
.preview .preview__message {
  overflow: hidden;
  width: 50vw;
  margin: 5px;
  font-size: 0.8em;
  color: #aeaeae;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.preview .preview__time {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 0.8em;
  color: #aeaeae;
}

.login-container {
  width: 100%;
  height: 100%;
  background-color: #ffd15f;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 460px;
  text-align: center;
}
.login .login__logo {
  height: 90px;
  background-image: url(../../img/grapefruit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.login .login__account {
  font-size: 0.9em;
}

.login__form {
  width: 240px;
  margin: 0 auto 80px;
}
.login__form input {
  height: 40px;
  width: 240px;
  border-radius: 0;
  border: 1px solid #bdbdbd;
  font-size: 0.9em;
}
.login__form input:focus {
  outline: none;
}
.login__form input::-moz-placeholder {
  color: #bdbdbd;
}
.login__form input::placeholder {
  color: #bdbdbd;
}
.login__form .login__form__id {
  padding: 5px 10px;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}
.login__form .login__form__pw {
  padding: 5px 10px;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.login__form .login__form__bt {
  margin-top: 6px;
  border: 1px solid #353535;
  background: #fb4239;
  color: white;
  cursor: pointer;
}
.login__form .login__form__bt:active {
  background: #e31f1d;
}

.chats {
  margin-left: 70px;
}
.chats .preview-list a {
  text-decoration: none;
  color: #000;
}
.chats .preview:hover {
  background-color: #f2f2f2;
}